<div class="container" style="width: 425px;">
    <h4 style="text-align: center; padding-bottom: 1.9em;">Enter new password</h4>
    <form [formGroup]="passwordForm" autocomplete="off" novalidate (ngSubmit)="applyEdit(passwordForm.value)" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div mat-dialog-content style="height: 300px; width: 440px;">
            <div class="row">
                <mat-form-field style="width: 340px; padding-bottom: 1.1em;">
                    <input formControlName="currentPassword" id="currentPassword" matInput placeholder="Current Password">
                    <!-- <mat-error *ngIf="passwordForm.hasError('required') && passwordForm.hasError('minlength')"> -->
                    <mat-error *ngIf="passwordForm.get('currentPassword').hasError('pattern')">
                        Please enter at least 8 characters including a number
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 340px; padding-bottom: 1.1em;">
                    <input formControlName="newPassword" id="newPassword" matInput placeholder="New Password">
                    <mat-error *ngIf="passwordForm.get('newPassword').hasError('pattern')">
                        Please enter at least 8 characters including a number
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 340px; padding-bottom: 0.7em;">
                    <input formControlName="confirmPassword" id="newPasswordConfirmed" matInput placeholder="Confirm new Password" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="passwordForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-icon-button color="accent" (click)="onNoClick()">
                <mat-icon class="mat-19">highlight_off</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon class="mat-19">check_circle_outline</mat-icon>
            </button>
        </div>
    </form>
</div>
