<!--<nav class="navbar navbar-default navbar">-->
<nav [ngClass]="authService.isAuthenticated == true ? 'shown_navbar navbar navbar-default navbar' : 'hidden_navbar' ">
    <!--<nav *ngIsf="authService.isLoggedIn() === false" style="display: none;" class="navbar navbar-default navbar">-->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li *ngIf="authService.isAdmin == false && authService.isAuthenticated">
                <a style="cursor: pointer;" (click)="goToChat()">Chat</a>
              </li>
              <li *ngIf="authService.isAdmin == true && authService.isAuthenticated">
                <a style="cursor: pointer;" (click)="goToManageUsers()">Manage users</a>
              </li>
              <li *ngIf="authService.isAdmin == true && authService.isAuthenticated">
                <a style="cursor: pointer;" (click)="goToAnalytics()">Analytics</a>
              </li>
                <li *ngIf="authService.isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
                <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a style="cursor: pointer;" (click)="editDialog()">Edit Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>