<!--<nav class="navbar navbar-default navbar">-->
<nav [ngClass]="authService.isLoggedIn() == true ? 'shown_navbar navbar navbar-default navbar' : 'hidden_navbar' ">
<!--<nav *ngIsf="authService.isLoggedIn() === false" style="display: none;" class="navbar navbar-default navbar">-->
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a style="cursor: pointer;" (click)="editDialog()">Edit Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
