<!-- <div class="container">
    <h2 style="text-align: center; font: 2em sans-serif;">LOGIN</h2>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" id="email" class="form-control" ngModel name="email" required email />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" ngModel name="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
                </div>
                <div style="text-align: center; padding-top: 0.5em;">
                    <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Login</button>
                </div>
                <div style="text-align: right; padding-right: 0.9em;">
                    <a (click)="forgotPassword()" style="font-style: italic;">Forgot my password</a>
                </div>
            </form>
          <br>
          <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
          </div>
        </div>
    </div>
</div> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="login-form">
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <h2 class="text-center">Sign In</h2>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="email" id="email" class="form-control" ngModel name="email" required email />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" id="password" class="form-control" ngModel name="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!authForm.valid">Log in</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a (click)="forgotPassword()" class="pull-right">Forgot Password?</a>
            </div>
        </form>
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
    </div>
</body>

</html> -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <div class="form">
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <div class="inside-form">
                <!-- the input -->
                <div class="first-row">
                    <h2 class="first-login">LOGIN</h2>
                </div>
                <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" id="email" class="form-control" ngModel name="email" required email>
                            <span class="input-group-addon">
              <span class="fa fa-envelope fa-lg"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" id="password" class="form-control" ngModel name="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                            <span class="input-group-addon">
              <span class="fa fa-lock fa-2x"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="remember-me col-sm-6 col-xs-6">
                            <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
            </label>
                            <p>Remember Me</p>
                        </div>
                        <div class="forget col-sm-6 col-xs-6">
                            <a style="cursor: pointer;" (click)="forgotPassword()">Forgot password ?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg login-btn" [disabled]="!authForm.valid">LOGIN</button>
                    </div>
                </form>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>