.container {
    margin-top: 27.5vh;
    width: 30vw;
    height: 40vh;
    background: #fff;
    border-radius: 7px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    padding-top: 1em;
    padding-bottom: 5em;
}

form {
    margin: 0 auto;
    margin-top: 25px;
}

label {
    font: 1.2em sans-serif;
}

h2 {}

button {}
