<div class="row">
    <div class="col-xs-10">
        <div class="wrapper">
            <nav class="nav" id="nav">
                <div class="default-nav">
                    <div class="main-nav" appChatColor>
                        <div class="toggle" appChatColor></div>
                        <div class="main-nav-item" appChatColor>
                            <h3>CHATBOT</h3>
                        </div>
                        <div class="options"></div>
                    </div>
                </div>
            </nav>
            <div class="inner" id="inner">
                <div class='messages' id='messageList'>
                </div>
            </div>
            <div class="bottom" id="bottom">
                <textarea class="input" id="input"></textarea>
                <div class="send" id="send" appChatColor></div>
            </div>
        </div>
    </div>
</div>