<!--<div class="row">
    <div class="col-xs-10">
        <div class="wrapper">
            <nav class="nav" id="nav">
                <div class="default-nav">
                    <div class="main-nav" appChatColor>
                        <div class="toggle" appChatColor></div>
                        <div class="main-nav-item" appChatColor>
                            <h3>CHATBOT</h3>
                        </div>
                        <div class="options"></div>
                    </div>
                </div>
            </nav>
            <div class="inner" id="inner">
                <div class='messages' id='messageList'>
                </div>
            </div>
            <div class="bottom" id="bottom">
                <textarea class="input" id="input"></textarea>
                <button class="send" (click)="askQuestion()" id="send" appChatColor></button>
            </div>
        </div>
    </div>
</div>-->

<div id="contentParent" class="responsive-columns-wrapper">
    <div id="chat-column-holder" class="responsive-column content-column">
        <div class="chat-column">
            <div id="scrollingChat" [innerHtml]="yt_iframe_html"></div>
            <p class="user-typing" id="user-typing-field"></p>
            <div id="chat-input">
                <label for="textInput" class="inputOutline">
          <input id="textInput" class="input responsive-column" placeholder="Unesite svoje pitanje ovdje" type="text" autofocus>
        </label>
                <button (click)="askQuestion()">Send</button>
            </div>
        </div>
    </div>
</div>

<script src="js/common.js"></script>