<div mat-dialog-content style="height: 210px; width: 390px;">
    <h4 style="padding-bottom: 1em; text-align: center">Reset Password</h4>
    <form [formGroup]="emailForm" autocomplete="off" novalidate (ngSubmit)="resetPasswordLink(emailForm.value)" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field style="width: 290px;">
            <input matInput placeholder="Email" formControlName="email" id="email">
        </mat-form-field>
        <div mat-dialog-actions>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!emailForm.valid">Update</button>
        </div>
    </form>
</div>